body {
    font-family: DIN-Pro, "Open Sans", Ubuntu;
}

.body-content {
    /* background-image: url("images/toronto-skyline.jpg"); */
}

.profile-link {
    display: flex;
    justify-content: center;
}

.linkedin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fc%2Fca%2FLinkedIn_logo_initials.png&imgrefurl=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3ALinkedIn_logo_initials.png&tbnid=0CYMM5P7QFwOsM&vet=12ahUKEwj4_dKukKvyAhUOcxoKHeMYCsYQMygAegUIARDHAQ..i&docid=qGu_5FIOAApEiM&w=1024&h=1024&q=linkedin%20logo&ved=2ahUKEwj4_dKukKvyAhUOcxoKHeMYCsYQMygAegUIARDHAQ);
}

#linkedin {
    width: 40px;
    height: 40px;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#github {
    width: 40px;
    height: 40px;
}

.twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#twitter {
    width: 40px;
    height: 40px;
}

.welcome-section {
    font-size: 20px;
    background-image: url("images/toronto-skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom:40em;
    margin-top:30em;
    height:100%;
    min-height:100px;
    align-items: flex-end;
}

.content section h1 {
    text-align: center;
}

#navbar {
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* User Story #11 */
    position: fixed;
}

.two-sections {
    display: flex;
}

.blank {
    width: 50%;
}

#about-me {
    text-align: center;
    margin-bottom:40em;
    margin-top:30em;
    height:30%;
    min-height:100px;
}

#projects {
    text-align: center;
    margin-bottom:40em;
    margin-top:30em;
    height:30%;
    min-height:100px;
}

#portoflio {
    text-align: center;
    margin-bottom:40em;
    margin-top:30em;
    height:30%;
    min-height:100px;
}
#contact-me {
    text-align: center;
    margin-bottom:40em;
    margin-top:30em;
    height:30%;
    min-height:100px;
}